<manifest package="net.xpece.android"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <provider
            android:name=".content.XpInitProvider"
            android:authorities="net.xpece.android.initprovider"
            android:exported="false"/>
    </application>

</manifest>
